# For most projects, this workflow file will not need changing; you simply need
# to commit it to your repository.
#
name: Rust tests

permissions:
    contents: read
    pull-requests: write
on:
    push:
        branches: ["master"]
        paths:
            - "**/*.rs"
            - "**/Cargo.toml"
            - "**/Cargo.lock"
    pull_request:
        branches: ["master"]
        paths:
            - "**/*.rs"
            - "**/Cargo.toml"
            - "**/Cargo.lock"

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                  egress-policy: audit

            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - name: Type check and lint
              # Treat all warnings as errors
              run: cargo clippy -- -D warnings
            - name: Build
              run: cargo build --verbose
            - name: Setup Ollama
              # Ollama is required for model download tests, which are set to be ignored by default
              uses: ai-action/setup-ollama@ba4231fa1e3f361786caf3c77b34a2dcce38d836 # v2.0.15
            - name: Run tests
              # Include ignored tests, which include model download tests
              run: RUN_INTEGRATION_TESTS=1 cargo test --verbose -- --include-ignored
